
@{
    ViewBag.Title = "DashboardEdu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<link href="~/Theme/css/dashboardedu.css" rel="stylesheet" />

<header class="site-header-two">
    @Html.Partial("_PartialNavTop")
</header>

<div class="wrapper">
    @Html.Action("_PartialSideBarEdu", "Home")
    <!-- Main Component -->
    <div class="main">
        <main class="content col-md-11 px-3 py-2">
            <div class="dashboard_wrapper">
                <div class="dashboard_wrapper-box">
                    <div class="dashboard_wrapper-box-item">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <p class="text-data">0</p>
                        <p>Nhóm của bạn</p>
                    </div>
                    <div class="dashboard_wrapper-box-item">
                        <i class="fa fa-tasks" aria-hidden="true"></i>
                        <p class="text-data">0</p>
                        <p>Bài kiểm tra đã tạo</p>
                    </div>
                    <div class="dashboard_wrapper-box-item">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        <p class="text-data">0</p>
                        <p>Văn bản đã tạo</p>
                    </div>
                </div>
                <div class="dashboard-background">
                    <p class="dashboard-tilte">Bắt đầu tạo nhóm học</p>
                    <button id="create-group">Tạo nhóm học</button>
                    <img src="~/Theme/images/Finger_position_on_a_keyboard.png" />
                </div>
            </div>
        </main>
    </div>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="modal-header_title">
            <p>Tạo nhóm của bạn</p>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <form class="form-control form-custom">
                <label>Tên nhóm</label>
                <input id="classname" class="form-control" type="text" placeholder="Tên nhóm của bạn" />
                <label>Mô tả</label>
                <input id="classdescription" class="form-control" type="text" placeholder="Giới thiệu tất cả các thông tin về nhóm này" />
                <label>Quyền riêng tư</label>
                <select id="classisprivate" class="form-select">
                    <option value="0" selected>Riêng tư - Chỉ chủ sở hữu nhóm mới có thể thêm thành viên</option>
                    <option value="1">Công khai - Mọi người đều có thể tham gia</option>
                </select>
            </form>
        </div>
        <div class="modal-footer_custom">
            <button id="cancel" type="button">Hủy</button>
            <button id="acpect" type="button">Đồng ý</button>
        </div>
    </div>
</div>

<div id="modaladduser" class="modal">
    <div class="modal-content">
        <div class="modal-header_title">
            <p id="title-class">Thêm thành viên vào nhóm</p>
        </div>
        <div class="modal-body">
            <form class="form-control form-custom">
                <label>Bạn có thể thêm người bên ngoài tổ chức của mình làm khách bằng cách nhập địa chỉ email của họ.</label>
                <input id="emailfilter" class="form-control" type="text" placeholder="Bắt đầu nhập Email" />
                <div class="filter-box">
                    <ul id="list-user">
                    </ul>
                    <ul id="list-after">
                    </ul>
                </div>

            </form>
        </div>
        <div class="modal-footer_custom">
            <button id="skip" type="button">Bỏ qua</button>
            <button id="add" type="button">Thêm</button>
        </div>
    </div>
</div>
<script src="~/Theme/js/dashboardedu.js"></script>