.dashboard_wrapper {
    padding: 30px;
    margin-top: 30px;
    min-height:800px;
    box-shadow: 1px 1px 10px 0 rgba(49, 57, 66, 0.5);
}
#join-group {
    padding: 5px 15px;
    background-color: #61869d;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: none;
}

.dashboard_wrapper-content{
    margin-top:30px;
    display:flex;
    gap:20px;
}
.link-group {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:20px;
}
    .link-group:hover {
        background-color: #e5e5e5;
    }
.group__wrapper-title{
    margin:10px 0 0 0;
    color:black;
    font-weight:600;

}
.group__wrapper-img {
    background-color:#ccc;
    width: 100px;
    height: 100px;
}
.group__wrapper-item {
    border-radius:5px;
    width:25%;
    box-shadow: 1px 1px 10px 0 rgba(49, 57, 66, 0.5);
}

#join:hover,#confirm:hover{
    background-color:green;
    color:white;
}
.event__wrapper {
    margin-top: 36px;
    padding: 30px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 5px 0 rgba(49, 57,66,.5);
    min-height: 540px;
}
.event__wrapper p{
  font-size:19px;
}

.event__box-item {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}
.event__box-item-title i{
    color:dodgerblue;
}
.event__box-item-title span {
    margin-left: 10px;
    color: #1862a9;
    font-weight: 600;
}

.event__box-item-time span:first-child {
    color: black;
}
.event__box-item a {
    color: #1862a9;
}
.event__box-item a:hover {
    text-decoration:underline;
}

/*Room student*/
.room__wrapper-title, .room__wrapper-content {
    margin-bottom:20px;
    padding: 10px 20px;
    border: 1px solid #ccc;
}
    .room__wrapper-title p {
        margin: 0;
        font-size: 37px;
        font-weight: 300;
        color: #615555;
    }
.room__wrapper-content ul {
    padding:0 20px;
    list-style-type: "-";
}
    .room__wrapper-content ul li {
        color: #615555;
        font-size: 16px;
        margin-bottom: 15px;
    }
        .room__wrapper-content ul li span {
            color: #696969;
            margin-left: 10px;
            font-weight: 600;
        }

.title-event {
    font-size: 18px;
    color: #1862a9;
    font-weight: 600
}
.event__box-content {
    padding: 20px 0;
}
.event-room__box {
    border-radius: 5px;
    margin-bottom:50px;
}
.event-room__box-item {
    border: 1px solid #ccc;
    margin-top: 15px;
    border-radius: 5px;
}
.event-room__box-item .event-status {
    color: #212529;
    padding: 10px 20px;
    margin: 0;
    background-color: #dbbe88;
}

.box-content {
    display: flex;
    align-items: center;
}
    .box-content p {
        color: #212529;
        margin: 0;
        font-size: 16px;
    }
    .box-content i {
        padding:0 20px;
        font-size: 16px;
    }
    .box-content span {
        margin-left: 50px;
        font-size: 16px;     
    }

.active-event {
    text-align: right;
    padding: 10px 20px;
    border-top: 1px solid #ccc;
}
    .active-event a {
        color: #1862a9;
    }
    .active-event a:hover {
        text-decoration:underline;
    }


 /*Test Edu*/
.test__form{
    padding:0 10px;
}
.form-custom {
    height: 150px;
    overflow-x: auto;
}
.form-custom::-webkit-scrollbar {
    width: 4px; /* Độ rộng của thanh cuộn */
}

.form-custom::-webkit-scrollbar-track {
    background-color: rgba(143, 143, 145, 0.3);
    border-radius: 1px;
}

    .form-custom::-webkit-scrollbar-thumb {
        background-color: rgb(105 148 155); /* Màu của phần thumb trong suốt */
        border-radius: 6px; /* Độ bo tròn của góc thanh cuộn */
    }
.title-test{
    display:flex;
    justify-content:center;
}
    .title-test p {
        font-size: 28px;
        font-weight: 600;
        color: #61869d;
    }
    .test__form-item {
        display: flex;
        flex-direction: column;
        margin-bottom:15px;
    }
.test__form-item label{
    margin-bottom:5px;
}
#choose-class {
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: #68bdb3;
    color: white;
}
#choose-class:hover {
    opacity:0.8;
}
#title-choose {
    cursor:unset;
    font-size: 20px;
    font-weight: 600;
    color: #61869d;
}
#create-test {
    padding:3px 10px;
    border: none;
    border-radius: 5px;
    background-color: #68bdb3;
    color: white;
    margin-bottom:30px;
}
.form-check-input:checked {
    background-color: #68bdb3;
    border-color: #68bdb3;
}