
<style>
    .site-footer {
        border-bottom: 10px solid #3680ab;
        position: relative;
    }
        .site-footer::after {
            border-color: transparent transparent #3680ab transparent;
        }
</style>
<footer class="site-footer section-bg" id="section_5">
    <div class="row" style="padding:10px 0">
        <span style="text-align:center">BestTyping Copyright © 2024</span>
    </div>
</footer>